.pokemon-grid.is-list .pokemon-card__topline {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    flex-direction: column-reverse;
    gap: 7px;
}

.pokemon-grid.is-list .pokemon-card__art {
    width: 105px;
    height: 95px;
    grid-column: 2;
    grid-row: 1;
}

.pokemon-grid.is-list .pokemon-card__details {
    grid-column: 3;
    grid-row: 1;
}

@media (max-width: 1120px) {
    .pokemon-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
