.type-badge--normal {
    --type-color: #8b95a7;
}

.type-badge--fire {
    --type-color: #f97316;
}

.type-badge--water {
    --type-color: #0ea5e9;
}

.type-badge--electric {
    --type-color: #ca8a04;
}

.type-badge--grass {
    --type-color: #10b981;
}

.type-badge--ice {
    --type-color: #0891b2;
}

.type-badge--fighting {
    --type-color: #dc2626;
}

.type-badge--poison {
    --type-color: #a855f7;
}

.type-badge--ground {
    --type-color: #d97706;
}

.type-badge--flying {
    --type-color: #6366f1;
}

.type-badge--psychic {
    --type-color: #db2777;
}
