.app-header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
}

@media (max-width: 800px) {
    .app-header__actions {
        gap: 12px;
    }
}

@media (max-width: 420px) {
    .app-header__actions {
        gap: 9px;
    }
}
