.home {
    display: flex;
    flex-direction: column;
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 50px auto;
    }
}

.home > svg {
    height: 10rem;
    width: auto;
    margin-top: 25px;
}
